<!doctype html>
<html class="h-100" lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/LayoutColor.css">

    <title>@ViewData["Title"] &mdash; Research & Innovation</title>
</head>
<body class="d-flex flex-column h-100 custom-background">
    <header>
        <nav class="navbar navbar-expand-lg">
            <a asp-page="/index" class="navbar-brand">
                <img class="img-fluid" src="https://via.placeholder.com/250x60.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <partial name="_LoginPartial" />
                <form class="form-inline mr-2 mr-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light my-2 mr-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-page="/Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-page="/About">About</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Students
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Student Profiles</a>
                            <a class="dropdown-item" href="#">Student Forms</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Researchers
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Researcher Spotlight</a>
                            <a class="dropdown-item" href="#">Project Location</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Researcher Forms</a>
                            <a class="dropdown-item" href="#">Apply for Research</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Industry
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Grant Forms</a>
                            <a class="dropdown-item" href="#">Industry Forms</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Sponsor a Researcher</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Community
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">New Articles</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Events</a>
                            <a class="dropdown-item" href="#">Event Schedule</a>
                            <a class="dropdown-item" href="#">Attend an Event</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-page="/Contact">Contact Us</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">How to Apply for Research</a>
                            <a class="dropdown-item" href="#">FAQ</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="flex-shrink-0" role="main">
        <div class="container main-content bg-light p-3">
            @RenderBody()
        </div>
    </main>
    <footer class="footer mt-auto">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-auto border-right">
                    <img class="img-fluid" src="https://via.placeholder.com/350x100.png" />
                </div>
                <div class="col-lg-1 border-right">
                    <p>
                        <a href="#">Login</a>
                    </p>
                    <p>
                        <a href="#">Register</a>
                    </p>
                </div>
                <div class="col-lg-auto border-right">
                    <div class="row">
                        <div class="col-md-auto">
                            <h5>Contact Us:</h5>
                            <p>
                                Tel:
                                <a href="tel:+15028526512">(502) 852-6512</a>
                            </p>
                            <p>
                                Fax:
                                <a href="tel:+15028528361">(502) 852-8361</a>
                            </p>
                        </div>
                        <div class="col-md-auto">
                            <p>
                                <a href="https://twitter.com/UofLInnovate" target="_blank">Twitter</a>
                            </p>
                            <p>
                                <a href="https://www.facebook.com/UofLInnovate" target="_blank">Facebook</a>
                            </p>
                            <p>
                                <a href="https://www.linkedin.com/school/uoflinnovate/" target="_blank">LinkedIn</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-auto border-right">
                    <h5>Resources For:</h5>
                    <div class="row">
                        <div class="col-md-auto">
                            <p>
                                <a href="#">Students</a>
                            </p>
                            <p>
                                <a href="#">Community</a>
                            </p>
                        </div>
                        <div class="col-md-auto">
                            <p>
                                <a asp-page="/Industry">Industry</a>
                            </p>
                            <p>
                                <a asp-page="/Research">Researchers</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                        <p>Powered By CardTech</p>
                    <img class="img-fluid" src="~/img/White-7 Outline.png"/>
                </div>
            </div>
        </div>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
