@page
@model CardTech.ResearchSite.Pages.BiomedicalModel
@{
    ViewData["Title"] = "Biomedical";
}

<h1>Biomedical Research Cores</h1>

<div class="accordion" id="biomedicalAccordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    Biomedical Research Cores
                </button>
            </h2>
        </div>


        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#biomedicalAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://louisville.edu/researchcores/biomedical-cores/bioinformatics" target="_blank" class="list-group-item list-group-item-action">Bioinformatics</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/genomics" target="_blank" class="list-group-item list-group-item-action">Genomics</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/proteomics" target="_blank" class="list-group-item list-group-item-action">Proteomics</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/metabolomics" target="_blank" class="list-group-item list-group-item-action">Metabolomics</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/structural-biology" target="_blank" class="list-group-item list-group-item-action">Structural Biology</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/imaging" target="_blank" class="list-group-item list-group-item-action">Imaging</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/cell-sorting" target="_blank" class="list-group-item list-group-item-action">Cell Sorting</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/bio-banks" target="_blank" class="list-group-item list-group-item-action">Bio Banks</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/nanotechnology" target="_blank" class="list-group-item list-group-item-action">Micro/Nanotechnology</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/high-performance-computing" target="_blank" class="list-group-item list-group-item-action">High Performance Computing</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/supply-centers" target="_blank" class="list-group-item list-group-item-action">Supply Centers</a>
                </div>
            </div>
        </div>
    </div>
</div>

<h1>Engineering Research Cores</h1>

<div class="accordion" id="engineeringAccordion">
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Engineering Research Cores
                </button>
            </h2>
        </div>


        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#engineeringAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://louisville.edu/researchcores/biomedical-cores/nanotechnology" target="_blank" class="list-group-item list-group-item-action">Micro/Nanotechnology</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/characterization" target="_blank" class="list-group-item list-group-item-action">Characterization</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/rapid-prototyping" target="_blank" class="list-group-item list-group-item-action">Rapid Prototyping</a>
                    <a href="https://louisville.edu/researchcores/biomedical-cores/supply-centers" target="_blank" class="list-group-item list-group-item-action">Supply Centers</a>
                </div>
            </div>
        </div>
    </div>
</div>