.custom-background {
    background: linear-gradient(black, rgb(173, 0, 0)) fixed;
}

header .navbar, footer {
    background-color: rgb(173, 0, 0);
    border-bottom: black;
    color: white;
}

header .navbar, header .nav, header .nav-item, header .nav-link, footer a {
    color: white;
}

.main-content {
    margin: 2.5% auto;
    border-radius: 7px;
}
