@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h1>Welcome & EVPRI Mission Statement</h1>

<div class="row">
    <div class="col-lg-9">
        <p>The University of Louisville is a premier, metropolitan research institution bursting with creativity and ideas. The vision of the Office of the Executive Vice President for Research and Innovation is to support those ideas, helping them grow and spread so they can change, improve and even save lives.</p>
        <p>We do this by providing support for our scholarly community as they work to explore and increase our collective understanding of the world through art, science, business and a multitude of different disciplines. We also teach our students the value of those pursuits, molding them into the next generation of thinkers, creators, explorers and leaders.</p>
        <p>UofL is an ambitious institution continuously meeting the bar, then setting it higher. Our national and international vision and scope recognizes our campus’ leadership role in advancing understanding and transforming the lives of the people and institutions both on- and off-campus, throughout the city, state, country and world.</p>
        <p>As such, we seek to be a leader of academic research, artistic exploration, scientific and technological innovation and economic growth. We develop and attract talented, energetic people and ideas with a thorough understanding of our global community. And we promote a spirit of entrepreneurship and innovation that inspires and energizes the creativity of the region.</p>
        <p>More specifically, we:</p>
        <ul>
            <li>Engage in scholarly and creative activity that preserves the knowledge of the past, creates new knowledge that may be translated into useful forms for the betterment of all;</li>
            <li>Advance our understanding of health and the human body, generating science and technology that protects, improves and saves lives;</li>
            <li>Provide a well-educated, job-ready population and workforce—individuals who are engaged citizens and leaders, who can think critically, express themselves well and who are responsible citizens and leaders;</li>
            <li>Provide research and scholarly activity that promotes cultural, technological and economic development;</li>
            <li>Translate intellectual energy and invention through new businesses and a vibrant research base that helps attract new talent and investment;</li>
            <li>Promote the overall quality of life of our community by ensuring the vibrancy of the social, artistic, and cultural base of the community;</li>
            <li>Continue to serve as a source of pride — an energizing and a transforming force for the community through nationally and internationally recognized university accomplishments.</li>
        </ul>
        <p>In meeting these goals, UofL will continue to be a transforming agent; an institution of uncommon ambition whose reach exceeds its grasp, preserving the age old values of the academic world while leading its community boldly into the future.</p>
        <h3>Mission Statement</h3>
        <p>The driving goal of the Office of the Executive Vice President for Research and Innovation is to promote and support research, scholarship, and creative activities; to assist faculty and staff in obtaining intramural and extramural support; to serve as an advocate for the value of research and scholarly activity in an educational setting; to enhance the vitality of campus-based research; and to encourage its use to enrich education, enhance technology transfer and serve the community.</p>
    </div>
    <div class="col-lg-3">
        <img src="~/img/gardner.png" alt="Kevin H. Gardner" class="img-fluid" title="Kevin H. Gardner, PhD"></h2>
        <h3>Kevin H. Gardner</h3>
        <p><strong>Executive Vice President for Research and Innovation</strong></p>
        <p><a class="email-link" href="mailto:kevin.gardner@louisville.edu" target="_self" title="Kevin Gardner">Kevin Gardner</a>
        <address>
            Phone: 502-852-8373<br>
            Address: Jouett Hall<br>
            University of Louisville<br>
            Louisville, KY 40292-0001<br>
            (40208 for UPS, FedEx)
        </address>
    </div>
</div>
