@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}

<h1>Contact</h1>

<div class="row align-items-center">
    <div class="col-md-3">
        <address>
            <strong>Belknap Campus</strong>
            <p>Jouret Hall</p>
            <p>University of Louisville</p>
            <p>2301 South Third Street</p>
            <p>Louisville, KY 40292-0001</p>
            <em>(40208 for UPS/FedEx)</em>
        </address>
       
    </div>
    <div class="col-md-9">
        <p>
            <a href="http://louisville.edu/about/belknap-map-pdf/at_download/file">
                <img class="img-fluid" src="~/img/bab-southwest.jpeg" alt="Belknap Campus Map">
            </a>
        </p>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-md-3">
        <address>
            <strong>Health Science Campus</strong>
            <p>Atria Building</p>
            <p>J.D. Nicholas Campus for Innovation & Entrepreneurship</p>
            <p>300 East Market Street</p>
            <p>Suite 300</p>
            <p>Louisville, KY 40202-1959</p>
        </address>
    </div>
    <div class="col-md-9">
        <p>
            <a href="http://louisville.edu/about/img/hsc-map-pdf/view">
                <img class="img-fluid" src="~/img/hospitals.jpeg" alt="Health Science Campus Map" />
            </a>
        </p>

    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <strong>Phone Number</strong>
        <p>Tel: (502)852-6512</p>
        <p>Fax: (502)852-8361</p>
    </div>
</div>