@page
@model IndexModel
@{
    ViewData["Title"] = "Forms";
}
<h1>Finding Forms</h1>
<p>
    Having an idea for a research topic is one thing, but making sure you go through the proper steps in order to get your project off the ground
    and running smoothly is important for your research. This is where Forms come in to help with this process.
</p>
<div class="row align-items-center">
    <div class="col-lg-5">
        <div class="accordion" id="formsAccordion">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Proposal Forms
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Establishing an Account
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Compliance Forms
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Post Award Form
                        </button>
                    </h2>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            Clinical Trial Forms
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Research Disclosure Forms
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                            Other Forms
                        </button>
                    </h2>
                </div>
                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#formsAccordion">
                    <div class="card-body">
                        <div class="list-group list-group-flush">
                            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
                            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-7">
        <img class="img-fluid" src="https://via.placeholder.com/1200x700.png" />
    </div>
</div>
