@page
@model CardTech.ResearchSite.Pages.GrantsModel
@{
}
<p>FINDING GRANTS</p>
<p>
    Whether you're working on the next great medical breakthrough, developing a thought provoking
    work of art or wanting to do something good for the community, the Office of Research Development
    and Strategic Iniatives can help you find funding.
</p>

<div class="accordion" id="formsAccordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Limited Grant Opportunities
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/overview" target="_blank" class="list-group-item list-group-item-action">Opportunities List</a>
                    <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/policies" target="_blank" class="list-group-item list-group-item-action">Policies</a>
                    <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/process" target="_blank" class="list-group-item list-group-item-action">Review and Selection Process</a>
                    <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/notices" target="_blank" class="list-group-item list-group-item-action">UofL Notices</a>
                    <a href="https://louisville.edu/research/rdsi/researchers/funding/find-funding/limited-submissions/notices" target="_blank" class="list-group-item list-group-item-action">Selection Review and Selection Criteria</a>
                    <a href="https://mailchi.mp/louisville.edu/limited-submission-sign-up" target="_blank" class="list-group-item list-group-item-action">Limited Submissions ListServ</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Large Grant Opportunities
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/large-grant-opportunities" target="_blank"
                       class="list-group-item list-group-item-action">Large Grant Opportunities List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    COVID-19 Grant Funding Opportunities
                </button>
            </h2>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/covid19-funding" target="_blank" class="list-group-item list-group-item-action">COVID-19 Funding List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFour">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    EVPRI Internal Grants
                </button>
            </h2>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/support/internal" target="_blank" class="list-group-item list-group-item-action">EVPRI Internal Grants List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingFive">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Federal Grants
                </button>
            </h2>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/federal-grants" target="_blank" class="list-group-item list-group-item-action">Federal Grants List</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSix">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse"
                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Foundation and Non-Profit Agencies
                </button>
            </h2>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/foundations-non-profit-agencies" target="_blank" class="list-group-item list-group-item-action">View Agencies</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingSeven">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    State RFPs
                </button>
            </h2>
        </div>
        <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://apps.legislature.ky.gov/moreinfo/Contracts/homepage.html" target="_blank" class="list-group-item list-group-item-action">View RFPs</a>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingEight">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Funding Notifcation Services
                </button>
            </h2>
        </div>
        <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#formsAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="http://louisville.edu/research/rdsi/researchers/funding/find-funding/funding-notification-services" target="_blank" class="list-group-item list-group-item-action">View Notification Services</a>
                </div>
            </div>
        </div>
    </div>
</div> 