@page
@model CardTech.ResearchSite.Pages.GrantsModel
@{
}
<p>FINDING GRANTS</p>
<p>
    Whether you're working on the next great medical breakthrough, developing a thought provoking
    work of art or wanting to do something good for the community, the Office of Research Development
    and Strategic Iniatives can help you find funding.
</p>

<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Limited Submission Opportunities</a>
            </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">Opportunities List</li>
                <li class="list-group-item">Policies</li>
                <li class="list-group-item">Review and Selection Process</li>
                <li class="list-group-item">Selection Review and Selection Criteria</li>
                <li class="list-group-item">UofL Notices</li>
                <li class="list-group-item">Limited Submissions ListServ</li>
                <li class="list-group-item">Grants.gov Limited Submission Opportunities</li>
                <li class="list-group-item">NIH Limited Submission Opportunities</li>
                <li class="list-group-item">NSF Limited Submission Opportunities</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse2">Large Grant Opportunities</a>
            </h4>
        </div>
        <div id="collapse2" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">View Large Grant Opportunities</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">COVID-19 Grant Funding Opportunities</a>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">COVID-19 Grant Opportunities</li>
            </ul>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse4">EVPRI Internal Grants</a>
            </h4>
        </div>
        <div id="collapse4" class="panel-collapse collapse">
            <ul class="list-group">
                <li class="list-group-item">EVPRI Internal Grants</li>
            </ul>
        </div>
    </div>
</div>