@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Office of Research & Innovation</h1>
    <img class="align-items-center img-fluid" src="~/img/front-image1.png" />
    <div>
        <h2>Our Mission</h2>
        <p>
            The driving goal of the Office of the Executive Vice President for Research and Innovation is to promote and support
            research, scholarship, and creative activities; to assist faculty and staff in obtaining intramural and extramural
            support; to serve as an advocate for the value of research and scholarly activity in an educational setting; to
            enhance the vitality of campus-based research; and to encourage its use to enrich education, enhance technology
            transfer and serve the community.
        </p>
    </div>
    <div>
        <h2>Our Vision</h2>
        <p>
            The University of Louisville is a premier, metropolitan research institution bursting with creativity and ideas. The
            vision of the Office of the Executive Vice President for Research and Innovation is to support those ideas, helping
            them grow and spread so they can change, improve and even save lives.
        </p>
    </div>