@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<body id="background">
</body>

<style>

    #background {
        flex-shrink: 0;
        background-image: linear-gradient(black, red);
        background-repeat: no-repeat;
    }

</style>




