@page
@model IndustryModel
@{
    ViewData["Title"] = "Industry";
}

<style>

    ul{
        list-style: square;
        color: red;
    }


    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

</style>


<h1>For Industry</h1>

<p>
Our goal when engaging with our industry partners is to form a lasting and mutually beneficial relationship. We want to provide the highest quality service in an efficient and timely fashion, while appropriately balancing the interests of UofL, our faculty, staff, and students, and our industry partners.
</p>

<ul>
        <li>
    <div class="dropdown">
        <span>Research Cores & Facilities</span>
        <div class="dropdown-content">
            <a href="https://louisville.edu/researchcores/biomedical-cores"> Biomedical Cores</a>
            <a href="https://louisville.edu/researchcores/engineering-cores"> Engineering Cores</a>
        </div>
    </div>
            <br />
            <br />
    </li>
        <li>
            <div class="dropdown">
                <span>Centers & Institutes</span>
                <div class="dropdown-content">
                    <a href="https://louisville.edu/research/centers-institutes-2"> Centers & Institutes</a>
                </div>
            </div>
            <br />
            <br />
        </li>
        <li>
            <div class="dropdown">
                <span>Co-Location & Land</span>
                <div class="dropdown-content">
                    <a href="https://louisville.edu/research/rdsi/industry/co-location-land"> Co-Location & Land</a>
                </div>
            </div>
            <br />
            <br />
        </li>
        <li>
            <div class="dropdown">
                <span>SBIR/STTR</span>
                <div class="dropdown-content">
                    <a href="https://louisville.edu/research/oie/partnering/sbir-sttr"> SBIR/STRR</a>
                </div>
            </div>
            <br />
            <br />
        </li>
        <li>
            <div class="dropdown">
                <span>Industry Support Request Form</span>
                <div class="dropdown-content">
                    <a href="https://louisville.edu/research/innovation/industry"> Industry Support Request Form</a>
                </div>
            </div>
        </li>
    </ul>
