@page
@model CardTech.ResearchSite.Pages.PublicProfileModel
@{
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/LayoutColor.css" />
    </head>
    <body>
        <h1>User Profile</h1>
        <div class="container">
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/200x200.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Name</h5>
                        <h5 class="mt-0">Email</h5>
                        <h5 class="mt-0">Major</h5>
                        
                    </div>
                </div>
                <div class="col-4"</div>
                <h5>Acheivements</h5>
                    <h6>Generic Award</h6>
                        <p>Sample Text</p>
                    <h6>Generic Award</h6>
                        <p>Sample Text</p>
                    <h6>Generic Award</h6>
                        <p>Sample Text</p>
            </div>
        </div>
        <div class="container">
            <h5>Projects</h5>
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/150x150.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Project Location</h5>
                        <p class="mt-0">Sample Text</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/150x150.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Project Location</h5>
                        <p class="mt-0">Sample Text</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <h5>Pending Forms</h5>
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/150x150.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Form Name</h5>
                        <p class="mt-0">Form Description</p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/150x150.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Form Name</h5>
                        <p class="mt-0">Form Description</p>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>