@page
@model CardTech.ResearchSite.Pages.SBIRModel
@{
    ViewData["Title"] = "SBIR";
}

<h1>SBIR/STTR</h1>

<p>The Small Business Innovation Research (SBIR) and Small Business Technology Transfer (STTR) programs are competitive funding programs administered by the federal government for stimulating technological innovation in the small business community. The SBIR and STTR programs provide a dynamic opportunity for small businesses to partner with colleges and universities. Indeed, the University of Louisville has a rich tradition of working with SBIR and STTR awardees.</p>

<p>The University of Louisville is always interested in assisting our industry partners in applying for SBIR/STTR grants. We’re happy to discuss any special considerations UofL may have for industry partnerships based on these programs, as well as to discuss our available resources.</p>

<p>For a quick look at some of the ways Kentucky supports its SBIR/STTR applicants, please visit the following pages:</p>

<div class="accordion" id="SBIRAccordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Kentucky SBIR/STTR Matching Funds Program
                </button>
            </h2>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#SBIRAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://www.kyinnovation.com/sbir/">Kentucky SBIR/STTR Matching Funds Program</a>
                    <br />
                    The Commonwealth of Kentucky has implemented a program to match both Phase I and Phase II federal SBIR and STTR awards to Kentucky high-tech small businesses. SBIR/STTR awardees from Kentucky (or who are willing to relocate to Kentucky) can apply.
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    BKentucky SBIR/STTR Phase Zero and Double Zero Grant Program (PZ/DZ)
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#SBIRAccordion">
            <div class="card-body">
                <div class="list-group list-group-flush">
                    <a href="https://www.sbir.gov/node/736297">Kentucky SBIR/STTR Phase Zero and Double Zero Grant Program (PZ/DZ)</a>
                    <br />
                    The program goal of PZ/DZ is to assist Kentucky's new and existing small businesses with the preparation of high-quality, competitive SBIR and STTR proposals—Phase Zero for preparation of Phase I proposals; Phase Double Zero for preparation of Phase II proposals.
                </div>
            </div>
        </div>
    </div>
    </div>
<br />
<br />
<p>For more information about common questions and potential concerns when dealing with universities on projects involving Federal funds, please see <a href="https://uidp.org/members-only-area/?redirect=https://uidp.org/publication/federal-flow-down-reference-guide/">UIDP’s Federal Flow-Down Project Reference Guide (PDF)</a>.</p>
