@page
@model SponsorsModel
@{
    ViewData["Title"] = "Sponsor";
}

<div id="container">
    <div class="field-items">
        <div class="field-items even">

            <h2>Government Sponsor</h2>
            <p> </p>

            <table border="0" cellpadding="0" cellspacing="0" class="table" width="100%">
                <tbody>

                    <tr>
                        <th style="width:50%;">
                            <p>
                                <strong>Large Funding Agencies and Searches</strong>
                            </p>
                            <style>
                                tr:nth-child(odd) {
                                    background-color: #f2f2f2;
                                }
                            </style>
                        </th>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Grants.gov Logo" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://yt3.ggpht.com/ytc/AAUvwnh8lWU6T6r6rEG3JM09mgD6WnbiNi35pO4D4eP1=s900-c-k-c0x00ffffff-no-rj" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="Grants.gov" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.eda.gov/funding-opportunities/" target="_blank">
                                    Grants.gov
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                Provides access to grant opportunities across multiple federal agencies.
                                &nbsp;
                            </p>

                            <p>
                                &nbsp;
                                NOTE: All University of Louisville personnel are covered under the institutional registration for Grants.gov and do not need to register as individuals.
                                &nbsp;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="National Institues of Health logo" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://media-exp1.licdn.com/dms/image/C4E0BAQGwt2DdrBx4rQ/company-logo_200_200/0?e=2159024400&v=beta&t=mjSwjYiaY6aEGih9mqG3S583tzKNqvreXmpcALoys5A" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="national institutes of health" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://grants.nih.gov/funding/searchguide/index.html#/" target="_blank">
                                    National Institues of Health
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="https://grants.nih.gov/funding/searchguide/index.html#/" target="_blank">
                                    Office of Extramural Funding
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.nih.gov/institutes-nih" target="_blank">
                                    Institutes, Centers and Office Links
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                Request an ERA Commons Account - Please send your full name, userid, preferred email, and role (PI, Grad Student, Project Personnel, etc.) to OSPA service account -
                                Atten: Rhonda Taylor, or call the OSPA Office, 852-3788.
                                &nbsp;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="National Science Foundation logo" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://upload.wikimedia.org/wikipedia/commons/7/7e/NSF_logo.png" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="national science foundation" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.nsf.gov/funding/pgm_list.jsp?org=NSF&ord=date" target="_blank">
                                    National Science Foundation
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="https://www.nsf.gov/staff/orglist.jsp" target="_blank">
                                    Division, Directorates and contact information
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                Request a Fastlane Account - Please send your full name and preferred email address, type of terminal degree (eg MD,Ph.D.) and the year it was awarded, and UofL Department to OSPA service account - Atten: Rhonda Taylor, or call the SPA office, 852-3788.
                                &nbsp;
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table border="0" cellpadding="0" cellspacing="0" class="table" width="100%" style="background-repeat: repeat-x">
                <tbody>
                    <tr>
                        <th style="width:50%;">
                            <p>
                                <strong>Select Specific Grant Resource Pages</strong>
                            </p>
                        </th>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Commerce logo" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="http://orsp.umich.edu/sites/default/files/commerce-full-color-cropped.png" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="Department of Commerce" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.eda.gov/funding-opportunities/" target="_blank">
                                    Economic Development Administration (EDA)
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="http://www.ago.noaa.gov/quicklinks/program_officer.html" target="_blank">
                                    National Oceanic and Atmospheric Administration (NOAA)
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="http://www.nist.gov/director/grants/grants.cfm" target="_blank">
                                    National Institute of Standards and Technology (NIST)
                                </a>
                                &nbsp;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Defense logo" class="media-image attr__typeof__foaf:Image img__fid__887 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Defense attr__field_file_image_title_text[und][0][value]__Department" src="http://orsp.umich.edu/sites/default/files/dod.png" style="float: right; height: 80px; width: 80px; margin: 8px;" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.arl.army.mil/business/broad-agency-announcements/" target="_blank">
                                    Department of Defense
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="https://cdmrp.army.mil/funding/default" target="_blank">
                                    Army Medical Command - Congressional Directed Medical Research Program
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://afrl.dodlive.mil/funding/" target="_blank">
                                    Air Force Office of Scientific Research (AFOSR)
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.darpa.mil/work-with-us/opportunities" target="_blank">
                                    Defense Advanced (DARPA)
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="http://www.onr.navy.mil/Contracts-Grants.aspx" target="_blank">
                                    Office of Naval Research
                                </a>
                                &nbsp;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Health and Human Services" class="media-image attr__typeof__foaf:Image img__fid__887 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Defense attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Seal_of_the_United_States_Department_of_Health_and_Human_Services.svg/1200px-Seal_of_the_United_States_Department_of_Health_and_Human_Services.svg.png" style="float: right; height: 80px; width: 80px; margin: 8px;" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.hhs.gov/grants/index.html" target="_blank">
                                    Department of Health and Human Services
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="https://www.ahrq.gov/funding/index.html" target="_blank">
                                    Agency for Health Care Research and Quality (AHRQ)
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.cdc.gov/publichealthgateway/GrantsFunding/" target="_blank">
                                    Centers for Disease Control and Prevention (CDC)
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.hrsa.gov/grants/index.html" target="_blank">
                                    HRSA
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.samhsa.gov/grants" target="_blank">
                                    SAMHSA
                                </a>
                                &nbsp;
                            </p>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Energy" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://www.energy.gov/sites/prod/files/DOE%20logo.png" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="Department of Energy" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www.science.doe.gov/grants/#" target="_blank">
                                    Department of Energy
                                </a>
                                &nbsp;
                            </strong>
                            <p>
                                &nbsp;
                                <a href="https://arpa-e.energy.gov/" target="_blank">
                                    ARPA-E
                                </a>
                                &nbsp;
                            </p>
                            <p>
                                &nbsp;
                                <a href="https://www.energy.gov/science-innovation/innovation/lab-breakthroughs" target="_blank">
                                    Energy Labs
                                </a>
                                &nbsp;
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Agriculture" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://www.fdacs.gov/var/ezdemo_site/storage/images/_aliases/large/3/1/8/5/2535813-1-eng-US/Seal_of_the_Florida_Department_of_Agriculture.png" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="Department of Agriculture" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://nifa.usda.gov/grants" target="_blank">
                                    Department of Agriculture
                                </a>
                                &nbsp;
                            </strong>
                        </td>
                    </tr>

                    <tr>
                        <td style="vertical-align: top;">
                            <p>
                                <img alt="Department of Education" class="media-image attr__typeof__foaf:Image img__fid__3041 img__view_mode__default attr__format__default attr__field_file_image_alt_text[und][0][value]__Department of Commerce attr__field_file_image_title_text[und][0][value]__Department"
                                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Seal_of_the_United_States_Department_of_Education.svg/1200px-Seal_of_the_United_States_Department_of_Education.svg.png" style="width: 80px; height: 80px; margin: 8px; float: right;"
                                     title="Department of Education" typeof="foaf:Image">
                            </p>
                            <strong>
                                &nbsp;
                                <a href="https://www2.ed.gov/fund/grant/apply/grantapps/index.html" target="_blank">
                                    Department of Education
                                </a>
                                &nbsp;
                            </strong>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 