@page
@model CardTech.ResearchSite.Pages.StudentModel
@{
    ViewData["Title"] = "Student";
}

<h1>For Students</h1>

<form>
    <input class="form-control mr-sm-2" type="email" placeholder="email" aria-label="email">
    <br />
    <input class="form-control mr-sm-2" type="password" placeholder="password" aria-label="password">
</form>
<br />
<br />

<h2>Student Forms</h2>

<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#studentsAccordion">
    <div class="card-body">
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">Form 1</a>
            <a href="#" class="list-group-item list-group-item-action">Form 2</a>
            <a href="#" class="list-group-item list-group-item-action">Form 3</a>
        </div>
        </div>
    </div>
<br />
<br />

<h2>Researcher/Researcher Project</h2>

<form>
    <input class="form-control mr-sm-2" type="search" placeholder="search" aria-label="search">
</form>
<br />
<p>Research is important to the University of Louisville and we would like for our research history to continue through our next generation of students. Feel free to take a look at any of our current researches we are working on to see if anything may interest you.</p>
<br />
<br />

<h2>Undergraduate Research</h2>

<p>The University of Louisville provides a range of undergraduate research opportunities across disciplines. From the sciences and humanities to business and education, students can gain practical experience in their fields of interest and conduct their own research projects.</p>

