@page
@model CardTech.ResearchSite.Pages.UserProfileModel
@{
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/LayoutColor.css" />
    </head>
    <body>
        <h1>User Profile</h1>
        <div class="container">
            <div class="row">
                <div class="col-left-auto">
                    <img class="img-fluid" src="https://via.placeholder.com/250x250.png" />
                </div>
                <div class="col">
                    <p class="text-left">Name</p></br>
                    <p class="text-left">Email</p></br>
                    <p class="text-left">Major</p>
                </div>
            </div>
        </div>
        <h1>Pending Forms</h1>
        <div class="container">
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/100x100.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Sample Text
                    </div>
                </div>
            </div>
        
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/100x100.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Sample Text
                    </div>
                </div>
            </div>
        
            <div class="row justify-content-between">
                <div class="media">
                    <img class="mr-3" src="https://via.placeholder.com/100x100.png" alt="Generic placeholder image">
                    <div class="media-body">
                        <h5 class="mt-0">Media heading</h5>
                        Sample Text
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>